/ProfilesDump/Perf/*.data
/ProfilesDump/AsyncDumps/*.txt
/ProfilesDump/HonestProfiler/*.hpl
/ProfilesDump/JavaFlightRecorder/*.jfr
/ProfilesDump/YourKit/*.snapshot
/ProfilesDump*/
ProfilersBench*.conf
/Readers/*.class