[submodule "AWFY"]
	path = AWFY
	url = https://github.com/smarr/are-we-fast-yet.git
[submodule "Profilers/jvm-profiler"]
	path = Profilers/jvm-profiler
	url = https://github.com/uber-common/jvm-profiler.git
[submodule "Profilers/honest-profiler"]
	path = Profilers/honest-profiler
	url = https://github.com/jvm-profiling-tools/honest-profiler.git
